
<body>
    

    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>D</span>aniela <span>R</span>eyes <span>A</span>lonso</h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="#about" data-after="Sobre mi">Sobre mí </a></li>
                        <li><a href="#turnos" data-after="Turnos">Turnos </a></li>
                        <li><a href="#cursos" data-after="Cursos">Cursos </a></li>
                        <li><a href="#prensa" data-after="Prensa">Prensa </a></li>
                       <button class="btn"><li><a href="https://www.rojopasionlenceria.com.ar/" type="button" data-after="Tienda">Mi tienda</a></li></button> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hola, <span></span> </h1>
                <h1>mi nombre es <span></span> </h1>
                <h1><strong>Daniela</strong> <span></span> </h1>
                <a href="#about" type="button" class="cta">Conóceme</a>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="./../../../assets/Images/DaniReyes.jpg" alt="">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">Sobre <span>mí</span></h1>
                <h2>Sexóloga</h2>
                <p> <span>A</span>compaño a personas y parejas a reconectar con su deseo, explorar su erotismo y sanar los bloqueos que les impiden disfrutar plenamente.
                    Trabajo desde una mirada integral que une cuerpo, emoción, mente y vínculo.
                    Creo que el placer es un camino posible hacia el bienestar y el autoconocimiento.
                    <br>
                    <br>
                    <span>C</span>ada proceso es único y lo acompaño desde la escucha sin juicio, la presencia y el respeto.
                    Abordo disfunciones sexuales, creencias limitantes, conflictos vinculares y todo lo que impacte en el ser sexual.
                    Mi enfoque busca abrir espacios de libertad, autenticidad y conexión con uno mismo y con el otro.
                    <br>
                    <br>
                    <span>T</span>rabajo con quienes desean vivir relaciones más conscientes, placenteras y amorosas.
                    Acompaño procesos de transformación profunda desde el deseo y el amor propio.
                    Las sesiones pueden ser individuales o en pareja, presenciales u online.
                    También facilito talleres de exploración, autoconocimiento, sexualidad y vínculo.
                    <br>
                    <br>
                    <span>M</span>i rol es sostener, guiar, iluminar el camino, pero siempre desde lo que cada persona necesita y desea.
                    No creo en fórmulas: creo en caminos propios.
                    Estoy acá para acompañarte a redescubrirte como ser sexual.
                    Y que puedas vivirte con más libertad, placer y sentido.
                </p>
            </div>
        </div>
    </section>

    <section id="turnos">
        <div class="services container">
                <h1 class="section-title">Tur<span>n</span>os</h1>
                <p>En esta sección podrás averiguar los diferentes tipos de
                    turnos que tengo para ofrecerte.
                </p>
            <div class="service-bottom">
                <div class="service-item-1">
                    <div class="icon"><img width="40" height="40" 
                    src="https://img.icons8.com/dusk/64/businesswoman.png" alt="businesswoman"/></div>
                    <h2>Sesiones individuales</h2>
                <p>Te acompaño en un proceso personal de autoconocimiento, sanación y exploración 
                    de tu sexualidad. Ya sea que estés atravesando una disfunción, una dificultad 
                    emocional o simplemente quieras reconectar con tu deseo y bienestar, este 
                    espacio es para vos. Trabajo con hombres y mujeres que buscan vivir su 
                    sexualidad de forma más libre, plena y auténtica, en un entorno seguro, 
                    respetuoso y sin juicios.</p>
                    <a href="https://wa.link/iw9gbo" type="button" class="cta">Contactar</a>
                </div>

                <div class="service-item-2">
                    <div class="icon"><img width="40" height="40" 
                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/50/external-relationship-dating-app-flaticons-lineal-color-flat-icons-2.png" alt="home--v1"/></div>
                    <h2>Sesiones de parejas</h2>
                <p>Acompaño a parejas que desean reconectar, mejorar su comunicación, 
                    fortalecer el vínculo y recuperar el erotismo y el placer compartido. 
                    En un espacio de confianza y sin juicios, trabajamos juntos los desafíos 
                    que atraviesan, promoviendo el diálogo, la escucha y el encuentro íntimo. 
                    Cada pareja tiene su propio ritmo y forma de amar; mi propósito es guiarlos 
                    para que puedan redescubrirse y construir una relación más consciente y plena.</p>
                    <a href="https://wa.link/ri6hs7" type="button" class="cta">Contactar</a>
                </div>
            </div>
        </div>
    </section>

    <section id="cursos">
        <div class="proyectos container">
            <div class="proyectos-header">
                <h1 class="section-title"> Cursos y <span>Ebooks</span></h1>
            </div>
            <h1>¡Próximamente! Sección en construcción.</h1>
        </div>
    </section>

    <section id="prensa">
        <div class="contact container">
            <div><h1 class="section-title">Pre<span>nsa</span></h1></div>
            <div class="contact-items">

                <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/AntenaLibre-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>Antena Libre</h1>
                             <a href="http://www.antena-libre.com.ar/2020/04/24/sexualidad-en-tiempos-de-covid-19/">
                                 <p><strong>"Repensar la sexualidad en tiempos de Covid 19"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/las-claves-del-sexo-virtual-evitar-las-salidas-cuarentena-n700991">
                                 <p><strong>"Las claves del sexo virtual: Evitar las salidas en cuarentena"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/por-que-es-tan-dificil-alcanzar-el-orgasmo-femenino-n724298">
                                 <p><strong>"¿Por qué es tan difícil alcanzar el orgasmo femenino?"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/AntenaLibre-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>Antena Libre</h1>
                             <a href="http://www.antena-libre.com.ar/2020/08/25/sexualidad-en-tiempos-de-pandemia/">
                                 <p><strong>"Sexualidad en tiempos de pandemia"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/dia-mundial-del-sexo-como-se-transformo-la-pandemia-n730367">
                                 <p><strong>"Dia mundial del sexo: Cómo se transformó en la pandemia"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/dos-neuquinas-ofrecen-un-taller-claves-disfrutar-del-sexo-n748193">
                                 <p><strong>"Dos neuquinas ofrecen un taller clave para disfrutar del sexo"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/sexshops-el-encierro-que-abrio-la-mente-las-fantasias-n751128">
                                 <p><strong>"Sexshops: El encierro que abrió la mente de las fantasías"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/sexshops-cuales-son-los-regalos-mas-elegidos-san-valentin-n771391">
                                 <p><strong>"Sexshops: Cuales son los regalos más elegidos"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/en-el-dia-mundial-la-masturbacion-difunden-sus-beneficios-la-salud-n795421">
                                 <p><strong>"Día mundial de la masturbación: Difunden sus beneficios"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/sexo-muchas-mujeres-murieron-saber-que-era-un-orgasmo-n832269">
                                 <p><strong>"Muchas mujeres murieron sin saber lo que era un orgasmo"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/AntenaLibre-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>Antena Libre</h1>
                             <a href="https://www.antena-libre.com.ar/2022/05/05/que-es-el-bullying-sexual/">
                                 <p><strong>"¿Qué es el bullying sexual?"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/AntenaLibre-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>Antena Libre</h1>
                             <a href="https://www.antena-libre.com.ar/2020/11/13/taller-de-comunicacion-para-un-encuentro-sexual-asertivo/">
                                 <p><strong>"Taller de comunicación para un encuentro sexual"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/AntenaLibre-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>Antena Libre</h1>
                             <a href="https://www.antena-libre.com.ar/2020/04/24/sexualidad-en-tiempos-de-covid-19/">
                                 <p><strong>"Sexualidad en tiempos de covid 19"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/prohibido-enamorarse-el-sexo-dejo-ser-tabu-pero-las-emociones-no-estan-permitidas-n932098">
                                 <p><strong>"Prohibido enamorarse: El sexo dejó de ser tabú"</strong></p> </a> 
                            </div>
                    </div>

                    <div class="contact-item">
                        <div class="icon">
                            <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                        </div>
                            <div class="contact-info">
                                <h1>LM Neuquén</h1>
                             <a href="https://www.lmneuquen.com/san-valentin-las-mujeres-son-las-que-mas-compran-los-sexshop-n994523/amp">
                                 <p><strong>"San Valentín: Las mujeres son las que más compran"</strong></p> </a> 
                            </div>
                    </div>            

                <div class="contact-item">
                    <div class="icon">
                        <img width="48" height="48" src="../../../assets/Images/lm_neuquen-removebg-preview.png" alt="person-male"/>
                    </div>
                        <div class="contact-info">
                            <h1>LM Neuquén</h1>
                         <a href="https://www.lmneuquen.com/neuquen/sexo-el-dia-los-enamorados-quien-agasaja-quien-n1092345/amp">
                             <p><strong>"Sexo en el día de los enamorados: ¿Quién agasaja a quien?"</strong></p> </a> 
                        </div>
                </div>
                    </div>
                </div>
    </section>

    <section id="footer">
        <div class="footer container">
            <div class="brand"><h1><span>D</span>aniela <span>R</span>eyes <span>A</span>lonso</h1></div>
            <h2>Tu sexóloga</h2>
            <div class="social-icon">
                <div class="social-item">
                   <a href="https://wa.link/hc2fo7"> <img width="48" height="48" src="https://img.icons8.com/lollipop/48/whatsapp.png" alt="whatsapp"/> </a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/danielareyesalonso?igsh=d2VpYjdkZzlrM2Ns">  <img width="48" height="48" src="https://img.icons8.com/lollipop/48/instagram-new.png" alt="instagram-new"/> </a>
                  </div>
            </div>
            <p>Copyright 2025 Guille Alarcón. Todos los derechos reservados</p>
        </div>
    </section>
</body>